body {

    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: red;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;    
}
a {
    text-decoration: none;
}
address {
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
img {
    display: block;   
}


/*  #common   для всіх секцій */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


